site_name: psarch
repo_name: harttraveller/psarch
repo_url: "https://www.github.com/harttraveller/psarch"

plugins:
- search

theme:
  name: material
  logo: assets/psarch.png
  favicon: assets/psarch.png
  icon:
    repo: fontawesome/brands/github
  palette:
    scheme: slate
    primary: black
    accent: orange
  features:
  - header.autohide
  - navigation.instant
  - navigation.tracking
  - content.code.copy
  - navigation.footer

extra:
  generator: false

extra_css:
- stylesheets/extra.css

markdown_extensions:
- md_in_html
- admonition
- attr_list
- pymdownx.details
- pymdownx.inlinehilite
- pymdownx.snippets
- pymdownx.superfences
- pymdownx.highlight:
    anchor_linenums: true
    use_pygments: true
- pymdownx.tasklist:
    custom_checkbox: true
- pymdownx.tabbed:
    alternate_style: true

nav:
- About: "index.md"
- Setup: "setup.md"
# - Usage: "usage.md"
# - Features: "features.md"
# - Normalization: "normalization.md"
